.header_top
{	background:#6dc5dd;
  padding:1em;
}
.footer
{
    background:#6dc5dd;
    padding:0 2em;	

}
.footer_bottom
{
    padding: 1em 0;
    text-align:center;
}
.copy 
{
    float: none;
}
.copy p
{
    color:#fff;
    font-size:1em;
}
ul.social
{   padding:0;
    list-style:none;
    float:right;
}
ul.social li:first-child 
{   margin-left: 0;
}
ul.social li
{   display: inline-block;
    margin-left: 5px;
}
ul.social li a 
{    display: block;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
ul.social li a i 
{   width:32px;
    height:32px;
    display: block;
    background: url(../imagenes/img-sprite.png)#fff no-repeat;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
}
ul.social li a i:hover
{   opacity:0.8;
}
ul.social li a i.fb
{   background-position:-151px -116px;
}
ul.social li a i.tw
{   background-position:-197px -118px;
}

body
{   background:url(../imagenes/bg.jpg);    
}

.wrapper
{
	padding: 1em 0;
}
